@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./components/form.css";
@import "./components/form-contact.css";
@import "./components/section.css";
@custom-variant dark (&:is(.dark *));

::-webkit-scrollbar {
      width: 8px;
  }
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@theme {
    --font-sans: "Barlow Condensed", sans-serif;
    --font-body: "Inter", sans-serif;
    --color-background: #000000;
    --color-foreground: #ffffff;
    --color-card: rgba(255, 255, 255, 0.05);
    --color-card-foreground: #f0f0fa;
    --color-primary: #ffffff;
    --color-primary-foreground: #000000;
    --color-muted: rgba(156, 156, 156);
    --color-muted-foreground: rgba(240, 240, 250);
    --color-border: rgba(84, 82, 82);
    --color-destructive: rgba(216, 0, 0);
    --color-ring: rgba(156, 156, 156);
    --color-accent: rgba(255, 255, 255, 0.1);
    --color-accent-foreground: #ffffff;        
}

:root {
    --header-offset: 1rem;
}

html {
    scroll-padding-top: var(--header-offset);
}

section[id] {
    scroll-margin-top: var(--header-offset);
}
