---
import Button from "../ui/Button.astro";
---

<header class="sticky top-4 z-50 w-full max-w-7xl mx-auto grid grid-cols-3 items-center px-4 py-3.5 bg-background/50 backdrop-blur-2xl border border-border rounded-full">
    <div class="flex items-center gap-6 justify-start">
        <a href="/" class="text-xl font-extrabold">
            KC<span class="text-chart-1">.</span>
        </a>
        <div class="hidden sm:flex items-center gap-4 border border-border rounded-full px-4 py-2">
            <svg class="w-5 h-5 text-primary cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256"><path d="M120,40V16a8,8,0,0,1,16,0V40a8,8,0,0,1-16,0Zm72,88a64,64,0,1,1-64-64A64.07,64.07,0,0,1,192,128Zm-16,0a48,48,0,1,0-48,48A48.05,48.05,0,0,0,176,128ZM58.34,69.66A8,8,0,0,0,69.66,58.34l-16-16A8,8,0,0,0,42.34,53.66Zm0,116.68-16,16a8,8,0,0,0,11.32,11.32l16-16a8,8,0,0,0-11.32-11.32ZM192,72a8,8,0,0,0,5.66-2.34l16-16a8,8,0,0,0-11.32-11.32l-16,16A8,8,0,0,0,192,72Zm5.66,114.34a8,8,0,0,0-11.32,11.32l16,16a8,8,0,0,0,11.32-11.32ZM48,128a8,8,0,0,0-8-8H16a8,8,0,0,0,0,16H40A8,8,0,0,0,48,128Zm80,80a8,8,0,0,0-8,8v24a8,8,0,0,0,16,0V216A8,8,0,0,0,128,208Zm112-88H216a8,8,0,0,0,0,16h24a8,8,0,0,0,0-16Z"></path></svg>
            <span class="h-5 w-0.5 bg-border"></span>
            <span class="text-sm font-semibold uppercase cursor-pointer">EN</span>
        </div>
    </div>
    <nav class="hidden md:flex justify-center">
        <ul class="flex items-center gap-6 text-sm text-muted-foreground">
            <li><a href="#sobre-mim" class="hover:text-accent-foreground transition-colors">Sobre</a></li>
            <li><a href="#servicos" class="hover:text-accent-foreground transition-colors">Serviços</a></li>
            <li><a href="#projetos" class="hover:text-accent-foreground transition-colors">Projetos</a></li>
            <li><a href="/blog" class="hover:text-accent-foreground transition-colors">Blog</a></li>
            <li><a href="#contato" class="hover:text-accent-foreground transition-colors">Contato</a></li>
        </ul>
    </nav>
    <div class="flex justify-end">
        <Button variant="default" size="sm">
            Conecte-se
        </Button>
    </div>
</header>
