---

---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
		<h1>Blog</h1>
		<p>Bem-vindo! Aqui você encontrará minhas postagens sobre o mundo da tecnologia.</p>
	</body>
</html>
